# Ignore everything by default
*

# Allow listed files/directories
!.gitignore
!README.md
!pyproject.toml
!/.github
!/.github/**
!tests/
!tests/**
tests/__pycache__/
__pycache__/
!a\ tic-tac-toe\ game/
!a\ tic-tac-toe\ game/**
!shared/
!shared/**
